<!-- CSPACE control bar -->
<div class="form-inline row" id="cspace-control-bar">
  <a href="#/cspaces/" class="btn btn-default">
    <strong><span class="glyphicon glyphicon-arrow-left"></span> Back</strong>
  </a>
  <a href="#/cspaces/{{CSpaceID}}/ad/new" class="btn btn-success"><strong>New Ad</strong></a>
  <div class="form-group pull-right">
    <div class="input-group" id="input-group-search">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
  </div>
  <div class="form-group pull-right">
    <label for="select-ordering">Order: </label>
    <div class="btn-group" id="select-ordering">
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="false">Forward</button>
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="true">Reverse</button>
    </div>
  </div>
  <div class="form-group pull-right">
    <label>Sort by: </label>
    <select class="btn btn-default" id="select-sort-by" ng-model="orderProp">
      <option value="title">Title</option>
      <option value="AdID">ID</option>
      <option value="date">Date</option>
    </select>
  </div>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header" ng-class="{'hide': waiting, 'bottom-radius': !AdCollection.Ads.length}">
  <h1 ng-show="!AdCollection.Ads.length">
    <span class="glyphicon glyphicon-warning-sign"></span>
    This <span class="green">CraftedSpace</span> has no <span class="green">Ads</span>
  </h1>
  <p ng-show="!AdCollection.Ads.length">
    <em>Ads will be displayed here when they are created</em>
  </p>
  <h1 ng-show="!!AdCollection.Ads.length">All ads in CraftedSpace <span class="green">{{CSpaceID}}</span></h1>
</div>

<!-- CSPACE list -->
<div class="content-list">
  <div ng-repeat="Ad in AdCollection.Ads | orderBy:orderProp:orderReverse | filter:query" class="ad-thumbnail row">
    <div class="col-xs-3">
      <img ng-show="Ad.image != 'null'" ng-src="{{Ad.image}}" class="img-rounded ad-img">
      <p ng-show="Ad.image == 'null'"><em>No Image</em></p>
    </div>
    <div class="col-xs-5">
      <div class="cspace-information">
	<p><strong>{{Ad.title}}</strong><em ng-show="!Ad.title">No Title</em></p>
	<p>{{Ad.text}}<em ng-show="!Ad.title">No Text</em></p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="cspace-information">
	<p><strong>Ad ID: </strong><code>{{Ad.AdID}}</code></p>
	<p><strong>CraftedSpace ID: </strong><code>{{CSpaceID}}</code></p>
	<p><strong>Link: </strong><a href={{Ad.link}} class="no-decoration" target="_blank">{{Ad.link}}</a>
	  <em ng-show="!Ad.link">No Link</em>
	</p>
	<p><strong>Created: </strong>{{Ad.date | date:'longDate'}}</p>
	<a href="#/cspaces/{{CSpaceID}}/ad/{{Ad.AdID}}/metrics" class="btn btn-primary"><strong>Metrics</strong></a>
	<a href="#/cspaces/{{CSpaceID}}/ad/{{Ad.AdID}}/edit" class="btn btn-default"><strong>Edit</strong></a>
      </div>
    </div>
  </div>
</div>
