<!-- Top bar -->
<div class="row" id="metrics-bar">
  <div class="col-xs-2">
    <a href="#/assets/{{CSpaceID}}" class="btn btn-default pull-left">
      <strong><span class="glyphicon glyphicon-arrow-left"></span> Back</strong>
    </a>
  </div>
  <div class="col-xs-4">
    <h3 class="metrics-text">
      <strong>Impressions: <span class="text-blue">{{impressions}}</span></strong>
    </h3>
  </div>
  <div class="col-xs-3">
    <h3 class="metrics-text">
      <strong>Clicks: <span class="text-blue">{{clicks}}</span></strong>
    </h3>
  </div>
  <div class="col-xs-3">
    <h3 class="metrics-text">
      <strong>CTR: <span class="text-blue">{{ctr}}%</span></strong>
    </h3>
  </div>
</div>

<!-- Charts -->
<div class="row metrics-row">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="metrics-text"><strong>Total</strong></h3>
      <div class="chart" bar-chart></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3 class="metrics-text"><strong>Impressions</strong></h3>
      <div class="chart">
	<div impressions-line-chart class="line-chart"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <h3 class="metrics-text"><strong>Clicks</strong></h3>
      <div class="chart">
	<div clicks-line-chart class="line-chart"></div>
      </div>
    </div>
  </div>
</div>
