<!-- CSPACE control bar -->
<div class="form-inline row" id="control-bar" ng-class="{'hide': waitingAsset || waitingCSpace}">
  <a href="#/assets" class="left-link">
    <i class="fa fa-suitcase"></i> Containers
  </a>
  <div class="form-group pull-right">
    <div class="input-group" id="input-group-search">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search Assets" ng-model="query">
      <span ng-show="!!query" ng-click="clearSearch()" class="input-group-addon" id="clear-search">
	<span class="glyphicon glyphicon-remove"></span>
      </span>
    </div>
  </div>
  <div class="form-group pull-right">
    <div class="btn-group" id="select-ordering">
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="false">Forward</button>
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="true">Reverse</button>
    </div>
  </div>
  <div class="form-group pull-right">
    <label>Sort by: </label>
    <select class="btn btn-default" id="select-sort-by" ng-model="orderProp">
      <option value="AssetID">ID</option>
      <option value="date">Date</option>
    </select>
  </div>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !(waitingAsset || waitingCSpace)}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header" ng-class="{'hide': waitingAsset || waitingCSpace}">
  <a href="#/assets/{{CSpaceID}}/new" class="btn btn-success right-link">
    <strong>Create an Asset</strong>
  </a>
  <p style="margin: 12px 0"><em>Container ID:</em> <code>{{CSpaceID}}</code> <em>&nbsp;Name:</em> <strong>{{cSpace.title}}</strong></p>
</div>

<h1 class="center" ng-show="!AssetCollection.Assets.length" ng-class="{'hide': waitingAsset || waitingCSpace}">
  <i class="fa fa-warning"></i> This Container Is Empty
</h1>

<!-- ASSET list -->
<div class="row content-list asset-attribute-row" ng-class="{'hide': waitingAsset || waitingCSpace || !AssetCollection.Assets.length}">
  <div class="col-xs-2">
    <p><em>Asset ID</em></p>
  </div>
  <div class="col-xs-2">
    <p><em>{{attributesToShow[0]}}</em></p>
  </div>
  <div class="col-xs-2">
    <p><em>{{attributesToShow[1]}}</em></p>
  </div>
  <div class="col-xs-2">
    <p><em>{{attributesToShow[2]}}</em></p>
  </div>
  <div class="col-xs-2">
    <p><em>{{attributesToShow[3]}}</em></p>
  </div>
  <div class="col-xs-1">
    <p><em>Date</em></p>
  </div>
  <div class="col-xs-1 align-right">
    <p><em>Edit</em></p>
  </div>
</div>
<div class="content-list asset-table" ng-class="{'hide': waitingAsset || waitingCSpace}">
  <div ng-repeat="Asset in AssetCollection.Assets | orderBy:orderProp:orderReverse | filter:query" class="asset-row row" ng-class-odd="'asset-row-light'">
    <div class="col-xs-2">
      <p><code>{{Asset.AssetID}}</code></p>
    </div>
    <div ng-repeat="attr in attributesToShow | limitTo:4" class="col-xs-2 no-wrap">
      <div ng-switch on="Asset[attr]['Type']">
	<div ng-switch-when="FILE">
	  <a class="home-link" href="{{Asset[attr]['Value']}}"><i class="fa fa-download"></i> Download</a>
	</div>
	<div ng-switch-when="IMAGE">
	  <a class="home-link" href="{{Asset[attr]['Value']}}" target="_blank"><i class="fa fa-picture-o"></i> View</a>
	</div>
	<div ng-switch-when="URL">
	  <a class="home-link" href="{{Asset[attr]['Value']}}" target="_blank"><i class="fa fa-external-link"></i> Visit</a>
	</div>
	<div ng-switch-default>
	  <p>{{Asset[attr]["Value"]}}</p>
	</div>
      </div>
    </div>
    <div class="col-xs-1">
      <p>{{Asset.AssetCreatedDate | date:'shortDate'}}</p>
    </div>
    <div class="col-xs-1 align-right">
      <a class="home-link" href="#/assets/{{CSpaceID}}/{{Asset.AssetID}}/edit">
	<i style="font-size: 1.9em" class="fa fa-edit"></i>
      </a>
    </div>
  </div>
</div>
