<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header border-bottom" ng-class="{'hide': waiting}">
  <h1>Create an Asset</h1>
  <a href="#/assets/{{cSpaceID}}/" class="left-link"><i class="fa fa-times"></i> Cancel</a>
</div>

<!-- CREATION form -->
<form class="form-horizontal" role="form" id="create-asset-form" name="newAssetForm" ng-class="{'hide': waiting}" novalidate>
  <div class="row">
    <div class="col-xs-3">
      <p><em>Asset ID (optional)</em></p>
    </div>
  </div>
  <div class="row attribute-row">
    <div class="form-group">
      <div class="col-xs-3">
	<input name="assetID" type="text" class="form-control" id="assetID" ng-model="asset.assetID" placeholder="Enter an Asset ID..." ng-pattern="/^[a-zA-Z0-9-_]+$/" ng-class="{'error-background': (newAssetForm.assetID.$error.pattern || assetIDNotUnique) && submitted}">
      </div>
      <div class="col-xs-9">
	<p ng-show="newAssetForm.assetID.$error.pattern && submitted" class="error-message"><i class="fa fa-warning"></i> Asset ID must be alphanumeric without spaces</p>
	<p ng-show="assetIDNotUnique" class="error-message"><i class="fa fa-warning"></i> This Asset ID already exists</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <p><em>Attribute Name</em></p>
    </div>
    <div class="col-xs-2">
      <p><em>Type</em></p>
    </div>
    <div class="col-xs-5">
      <p><em>Value</em></p>
    </div>
    <div class="col-xs-2">
      <p><em>Remove?</em></p>
    </div>
  </div>
  <!-- Dynamic Attribue Input Form -->
  <div class="row attribute-row" ng-repeat="attribute in attributes">
    <div ng-form="attributeForm">
      <div class="form-group">
	<div class="col-xs-3">
	  <input type="text" class="form-control" placeholder="Enter a name..." name="attributeName" ng-model="attribute.Name" required ng-class="{'error-background': attributeForm.attributeName.$error.required && submitted}">
	</div>
	<div class="col-xs-2">
	  <select class="btn btn-default" id="select-sort-by" ng-model="attribute.Type" required>
	    <option value="STRING">String</option>
	    <option value="NUMBER">Number</option>
	    <option value="URL">URL</option>
	    <option value="IMAGE">Image</option>
	    <option value="FILE">File</option>
	    <option value="STRING_ARRAY">Array (S)</option>
	    <option value="NUMBER_ARRAY">Array (N)</option>
	  </select>
	</div>
	<div class="col-xs-5">
	  <div ng-switch on="attribute.Type">
	    <div ng-switch-when="STRING">
	      <textarea name="attributeString" type="text" class="form-control" placeholder="Enter a string..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeString.$error.required && submitted}" rows="3"></textarea>
	    </div>
	    <div ng-switch-when="URL">
	      <input name="attributeURL" type="url" class="form-control" placeholder="Enter a valid URL..." ng-model="attribute.Value" required ng-class="{'error-background': (attributeForm.attributeURL.$error.required || attributeForm.attributeURL.$error.url) && submitted}">
	    </div>
	    <div ng-switch-when="IMAGE">
	      <div on-change="readFile($index)" image-drop="file" ng-class="{'draggable': !attribute.Value, 'dropzone': !attribute.Value, 'error-background': attributeForm.attributeImage.$error.required && submitted}">
		<p ng-show="!attribute.Value" class="text-muted drag-drop-text">
		  Drag and drop an image here
		</p>
		<img ng-show="!!attribute.Value" ng-src="{{attribute.Value}}" class="asset-img draggable">
		<p ng-show="!!attribute.Value" class="text-muted">
		  Drag and drop an image here
		</p>
	      </div>
	      <input type="file" name="attributeImage" class="hide" ng-model="attribute.Value" required>
	    </div>
	    <div ng-switch-when="FILE">
	      <input type="file" file-input="file" on-change="readFile($index)">
	      <span ng-show="attributeForm.attributeFileValid.$error.required && submitted" class="error-message"><i class="fa fa-warning"></i> Invalid file</span>
	      <input type="file" name="attributeFileValid" class="hide" ng-model="attribute.Value" required>
	    </div>
	    <div ng-switch-when="STRING_ARRAY">
	      <input name="attributeStringArray" type="text" class="form-control" placeholder="Enter comma-separated strings..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeStringArray.$error.required && submitted}">
	    </div>
	    <div ng-switch-when="NUMBER_ARRAY">
	      <input name="attributeNumberArray" type="text" class="form-control" placeholder="Enter comma-separated numbers..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeNumberArray.$error.required && submitted}">
	    </div>
	    <div ng-switch-when="NUMBER">
	      <input name="attributeNumber" type="number" class="form-control" placeholder="Enter a number..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeNumber.$error.required && submitted}">
	    </div>
	  </div>
	</div>
	<div class="col-xs-2">
	  <button class="btn btn-default" ng-click="removeAttribute($index)">
	    <i class="fa fa-times"></i>
	  </button>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="addAttribute()">
      <i class="fa fa-plus"></i> <strong>Attribute</strong>
    </button>
  </div>
  <div class="row button-row">
    <div class="center">
      <button class="btn btn-success" ng-click="create(newAssetForm)">
	<strong>Create Asset</strong>
      </button>
    </div>
    <p ng-show="(newAssetForm.$error.required || newAssetForm.$error.url) && submitted" class="error-message center"><i class="fa fa-warning"></i> Required fields are missing or invalid</p>
    <p ng-show="!!errorMessage" class="error-message center"><i class="fa fa-warning"></i> {{errorMessage}}</p>
  </div>
</form>
