<!-- CSPACE control bar -->
<div class="form-inline row" id="cspace-control-bar" ng-class="{'hide': waiting}">
  <a href="#" class="left-link">
    <i class="fa fa-arrow-left"></i> Home
  </a>
  <div class="form-group pull-right">
    <div class="input-group" id="input-group-search">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search Containers" ng-model="query">
      <span ng-show="!!query" ng-click="clearSearch()" class="input-group-addon" id="clear-search">
	<span class="glyphicon glyphicon-remove"></span>
      </span>
    </div>
  </div>
  <div class="form-group pull-right">
    <div class="btn-group" id="select-ordering">
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="false">Forward</button>
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="true">Reverse</button>
    </div>
  </div>
  <div class="form-group pull-right">
    <label>Sort by: </label>
    <select class="btn btn-default" id="select-sort-by" ng-model="orderProp">
      <option value="date">Date</option>
      <option value="title">Title</option>
    </select>
  </div>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header" ng-class="{'hide': waiting}">
  <a href="#/cspaces/new" class="btn btn-success right-link" ng-show="!!CSpaces.length">
     <strong>New Container</strong>
  </a>
  <h1 ng-show="!CSpaces.length">
    <i class="fa fa-warning"></i>
    You haven't created any Assets
  </h1>
  <p ng-show="!CSpaces.length">
    <em>Create a Container to store your Assets</em>
  </p>
  <p ng-show="!CSpaces.length">
    <a href="#/cspaces/new" class="btn btn-success"><strong>Create a Container</strong></a>
  </p>
  <h1 ng-show="!!CSpaces.length">All Containers</h1>
</div>

<!-- CSPACE list -->
<div class="content-list" ng-class="{'hide': waiting}">
  <div ng-repeat="CSpace in CSpaces | orderBy:orderProp:orderReverse | filter:query" class="asset-container-thumbnail">
    <a class="home-link right-link" href="#/cspaces/{{CSpace.CSpaceID}}/edit">
      <i style="font-size: 1em" class="fa fa-edit"></i> edit
    </a>
    <a class="home-link" href="#/cspaces/{{CSpace.CSpaceID}}/asset">
      <i class="fa fa-suitcase"></i>
    </a>
    <p>
      <span ng-show="!!CSpace.title">{{CSpace.title}}</span>
      <span ng-show="!CSpace.title"><em>no name</em></span>
    </p>
    <p><em>created:</em> {{CSpace.date | date:'shortDate'}}</p>
    <p style="overflow: hidden">
      <em ng-show="!CSpace.tags.length">no tags</em>
      <a class="label label-success tag" ng-repeat="tag in CSpace.tags" ng-click="populateSearch(tag)">{{tag}}</a>
    </p>
  </div>
</div>
