<!-- CSPACE control bar -->
<div class="form-inline row" id="cspace-control-bar" ng-class="{'hide': waiting}">
  <a href="#" class="left-link">
    <i class="fa fa-home"></i>
    <strong>Home</strong>
  </a>
  <div class="form-group pull-right">
    <div class="input-group" id="input-group-search">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search Containers" ng-model="query">
      <span ng-show="!!query" ng-click="clearSearch()" class="input-group-addon" id="clear-search">
	<span class="glyphicon glyphicon-remove"></span>
      </span>
    </div>
  </div>
  <div class="form-group pull-right">
    <div class="btn-group" id="select-ordering">
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="false">Forward</button>
      <button class="btn btn-default" type="button" ng-model="orderReverse" btn-radio="true">Reverse</button>
    </div>
  </div>
  <div class="form-group pull-right">
    <label>Sort by: </label>
    <select class="btn btn-default" id="select-sort-by" ng-model="orderProp">
      <option value="date">Date</option>
      <option value="title">Title</option>
    </select>
  </div>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header" ng-class="{'hide': waiting}">
  <a href="#/assets/new" class="green-link right-link" ng-show="!!CSpaces.length">
    <i class="fa fa-plus-circle"></i>
    <strong>New Container</strong>
  </a>
  <h1 ng-show="!CSpaces.length">
    <i class="fa fa-warning"></i>
    You haven't created any assets
  </h1>
  <p ng-show="!CSpaces.length">
    <em>Create a container to store assets</em>
  </p>
  <h1 ng-show="!!CSpaces.length">Containers</h1>
</div>

<!-- CSPACE list -->
<div class="content-list" ng-class="{'hide': waiting}">
  <div ng-show="!CSpaces.length" class="center">
    <a class="home-link" href="#/assets/new">
      <i class="fa fa-suitcase home-icon"></i>
      <h2 style="margin: 0"><i class="fa fa-plus-circle"></i> New Container</h2>
    </a>
  </div>
  <div ng-repeat="CSpace in CSpaces | orderBy:orderProp:orderReverse | filter:query" class="asset-container-thumbnail">
    <a class="home-link" href="#/assets/{{CSpace.CSpaceID}}">
      <i class="fa fa-suitcase"></i>
      <p>
	<span ng-show="!!CSpace.title">{{CSpace.title}}</span>
	<span ng-show="!CSpace.title"><em>no name</em></span>
      </p>
      <p><em>created:</em> {{CSpace.date | date:'shortDate'}}</p>
    </a>
    <div style="overflow: hidden; height: 25px">
      <a class="label label-success tag" ng-repeat="tag in CSpace.tags" ng-click="populateSearch(tag)">{{tag}}</a>
    </div>
  </div>
</div>
