<!-- Control bar -->
<div class="form-inline row" id="control-bar">
  <a href="#/cspaces/" class="btn btn-success"><strong>Home</strong></a>
</div>

<!-- Information Header -->
<div class="info-header">
  <h1>AppCrafted Documentation</h1>
</div>

<!-- Documentation display -->
<div class="content-list">
  <div class="row docs-section">
    <div class="row docs-row">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>General Information</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showGeneralInfo = !showGeneralInfo" class="btn" ng-class="{'btn-danger': showGeneralInfo, 'btn-success': !showGeneralInfo}">
	  <strong>{{showGeneralInfo && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{'hide': !showGeneralInfo}">
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-red-bg">
	    <p><strong>Warning:</strong> The AppCrafted documentation is being actively updated.</p>
	    </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Overview</em></p>
	</div>
	<div class="col-xs-10">
	  <p>AppCrafted allows developers to deliver <span class="green">Assets</span> (content such as text, links, and files) to their mobile applications. Developers can create and manage these Assets, and their changes will be reflected in their applications without requiring an update to the application.</p>
	  <p>Currently, AppCrafted supports a simple Web API as well as a Unity Plugin to facilitate integration with Unity applications.</p>
	</div>
      </div>
    </div>
  </div>
  <div class="row docs-section">
    <div class="row docs-row">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>Web API</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showAPIDocs = !showAPIDocs" class="btn" ng-class="{'btn-danger': showAPIDocs, 'btn-success': !showAPIDocs}">
	  <strong>{{showAPIDocs && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{'hide': !showAPIDocs}">
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-red-bg">
	    <p><strong>Warning:</strong> The Web API documentation is being actively updated.</p>
	    </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-yellow-bg">
	    <p><strong>Experimental API:</strong> Some changes are necessary to use the experimental API.</p>
	    <p>
	      Change the URL to <code>http://api.appcrafted.com/exp/cspace/&lt;rest of URL&gt;</code> (i.e. change
	      <code>alpha</code> to <code>exp</code>).
	    </p>
	    <p>
	      Omit the <code>&lt;Signature&gt;</code> part of the <code>Authorization</code> 
	      header (but keep the <code>:</code>). For example, when retrieving all Assets in a CraftedSpace, issue this request:
	    </p>
	    <pre>$ curl http://api.appcrafted.com/exp/cspace/<span class="red">&lt;CraftedSpaceID&gt;</span>/asset -u <span class="red">&lt;AccessKey&gt;:</span></pre>
	    </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Before you start</em></p>
	</div>
	<div class="col-xs-10">
	  <div class="light-green-bg">
	    <p>Take note of your <code>Access Key</code> and <code>Secret Key</code> from your <a class="link-no-decoration" href="#/account">Account</a>, as well as the <code>ID</code> of the <a class="link-no-decoration" href="#/cspaces">CraftedSpace</a> you wish to integrate into your application.</p>
	  </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Authentication</em></p>
	</div>
	<div class="col-xs-10">
	  <p>You must authenticate each request to the AppCrafted Web API. You do so by setting the <code>Authorization</code> header on each of your requests.</p>
	  <p><strong>Possible errors:</strong></p>
	  <p>If the <code>Authorization</code> header is incorrectly formatted, the AppCrafted server will return <code>HTTP 403</code>:</p>
	  <pre>{"message": "Missing or Incorrect Authorization Header"}</pre>
	  <p>If your <code>Access Key</code> is incorrect, the AppCrafted server will return <code>HTTP 403</code>:</p>
	  <pre>{"message": "Unrecognized Access Key"}</pre>
	  <p>If the <code>Signature</code> is incorrectly computed, the AppCrafted server will return <code>HTTP 403</code>:</p>
	  <pre>{"message": "Signature Not Verified"}</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Response</em></p>
	</div>
	<div class="col-xs-10">
	  <p>The AppCrafted server will respond with <code>JSON</code>.</p>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Retrieve all Assets</em></p>
	</div>
	<div class="col-xs-10">
	  <p>Retrieve all <span class="green">Assets</span> from a <span class="green">CraftedSpace</span> by issuing a <strong>GET</strong> request.</p>
	  <p><strong>cURL</strong> example:</p>
	  <pre>$ curl http://api.appcrafted.com/alpha/cspace/<span class="red">&lt;CraftedSpaceID&gt;</span>/asset \
  -u <span class="red">&lt;AccessKey&gt;:&lt;Signature&gt;</span></pre>
	  <p>Sample JSON response. All <span class="green">Assets</span> will be returned in an array named <code>Assets</code>:</p>
	  <pre>{
  "message": "Success",
  "Count": 1,
  "Assets": [
    {
      "text": "Text",
      "link": "http://example.com",
      "clicks": "89",
      "AssetID": "0",
      "image": "https://example.com/image.jpeg",
      "impressions": "9482",
      "date": "2013-12-10T20:59:46.721Z",
      "UserID": "XYZ",
      "CSpaceID": "XYZ",
      "title": "Title"
    }
  ]
}</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Register Metrics</em></p>
	</div>
	<div class="col-xs-10">
	  <p>Register metrics by issuing a <strong>POST</strong> request with the number of <code>clicks</code> and/or <code>impressions</code> you wish to record.</p>
	  <p><strong>cURL</strong> example:</p>
	  <pre>$ curl http://api.appcrafted.com/alpha/cspace/<span class="red">&lt;CraftedSpaceID&gt;</span>/asset/<span class="red">&lt;AssetID&gt;</span>/metrics \
  -i -X POST -H 'Content-Type: application/json' \
  -d '{"impressions": 100, "clicks": 5}' \
  -u <span class="red">&lt;AccessKey&gt;:&lt;Signature&gt;</span> </pre>
	  <p>Upon success, the AppCrafted server will return <code>HTTP 200</code>:</p>
	  <pre>{"message": "Metrics Updated"}</pre>
	  <p>If the request body is incorrectly formatted, the AppCrafted server will return <code>HTTP 400</code>:</p>
	  <pre>{"message": "Invalid Request Body"}</pre>
	</div>
      </div>
    </div>
  </div>
  <div class="row docs-section">
    <div class="row docs-row">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>Unity Plugin</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showUnityPluginDocs = !showUnityPluginDocs" class="btn" ng-class="{'btn-danger': showUnityPluginDocs, 'btn-success': !showUnityPluginDocs}">
	  <strong>{{showUnityPluginDocs && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{'hide': !showUnityPluginDocs}">
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-red-bg">
	    <p><strong>Warning:</strong> The Unity Plugin documentation is currently out of date. It will be updated shortly.</p>
	    </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Before you start</em></p>
	</div>
	<div class="col-xs-10">
	  <div class="light-green-bg">
	    <p>Take note of your <code>Access Key</code> and <code>Secret Key</code> from your <a class="link-no-decoration" href="#/account">Account</a>, as well as the <code>ID</code> of the <a class="link-no-decoration" href="#/cspaces">CraftedSpace</a> you wish to integrate into your Unity application.</p>
	  </div>
	</div>
      </div>
      <!-- Method 1 -->
      <div class="row docs-row">
	<h1 class="doc-header center">Method 1</h1>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Step 1</em></p>
	</div>
	<div class="col-xs-10">
	  <p>In the <code>Start()</code> method of a component, add these two lines:</p>
	  <pre>CraftedSpaceManager.Instance.registerCredentials(<span class="red">&lt;AccessKey&gt;</span>, <span class="red">&lt;SecretKey&gt;</span>);
CraftedSpaceManager.Instance.registerCraftedSpaces(<span class="red">&lt;CraftedSpaceID&gt;</span>);</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Step 2</em></p>
	</div>
	<div class="col-xs-10">
	  <p>Define a variable that stores a CraftedAsset array. For example:</p>
	  <pre>private CraftedAsset[] craftedAssets;</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Step 3</em></p>
	</div>
	<div class="col-xs-10">
	  <p>In your script, add the following code:</p>
	  <pre>#region CraftedSpaceManager Delegation
void OnEnable() {
    CraftedSpaceManager.OnAssetDownloaded += GetAssets;
}
void OnDisable() {
    CraftedSpaceManager.OnAssetDownloaded -= GetAssets;
}
void GetAssets(string cSpaceID) {
    this.craftedAssets = CraftedSpaceManager.Instance.getAssets(cSpaceID);
}
#endregion</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Usage</em></p>
	</div>
	<div class="col-xs-10">
	  <p>You can now access <span class="green">Assets</span>, specified by an <code>Asset ID</code>:</p>
	  <pre>this.craftedAssets[<span class="red">&lt;AssetID&gt;</span>].title
this.craftedAssets[<span class="red">&lt;AssetID&gt;</span>].text
this.craftedAssets[<span class="red">&lt;AssetID&gt;</span>].image
this.craftedAssets[<span class="red">&lt;AssetID&gt;</span>].link</pre>
	  <p>To use an image in Unity, assign it to a texture on a material. For example:</p>
	  <pre>if (this.craftedAssets[<span class="red">&lt;AssetID&gt;</span>].image != null) {
    transform.renderer.material.mainTexture = this.craftedAssets[<span class="red">&lt;AssetID&gt;</span>].image;
}</pre>
	</div>
      </div>
    </div>
  </div>
</div>
