<!-- Information Header -->
<div class="info-header border-bottom">
  <h1>Documentation</h1>
</div>

<!-- Documentation display -->
<div class="content-list documentation">
  <div class="row docs-section">
    <div class="row center">
      <p style="margin-top: 5px"><strong>General Information</strong></p>
    </div>
    <div class="row docs-row">
      <div class="col-xs-2"></div>
      <div class="col-xs-10">
	<div class="light-red-bg">
	  <p><strong>Note:</strong> The Appcrafted documentation is being actively updated.</p>
	</div>
      </div>
    </div>
    <div class="row docs-row">
      <div class="col-xs-2 align-right">
	<p><em>Overview</em></p>
      </div>
      <div class="col-xs-10">
	<p>Appcrafted assets are NoSQL key-value stores that also handle content management and delivery. Developers can deliver files, images, and data to their mobile or web applications. Applications can also programmatically create, read, update, and delete content and data.</p>
	<p>Currently, Appcrafted supports a Web API, a Unity Plugin, and a JavaScript plugin.</p>
	<p>We are also working on several other backend services for app developers. We're very interested in feedback and suggestions, and we encourage you to <a href="mailto:contact@appcrafted.com" class="link-no-decoration">email us</a> or contact us using <a class="link-no-decoration" target="_blank" href="https://www.appcrafted.com/#contact">this form</a>.</p>
      </div>
    </div>
  </div>
  <div class="row docs-section">
    <div class="row">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>Web API</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showAPIDocs = !showAPIDocs" class="btn" ng-class="{'btn-danger': showAPIDocs, 'btn-success': !showAPIDocs}">
	  <strong>{{showAPIDocs && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{'hide': !showAPIDocs}">
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-red-bg">
	    <p><strong>Note:</strong> The Web API documentation is being actively updated.</p>
	    </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Before you start</em></p>
	</div>
	<div class="col-xs-10">
	  <div class="light-green-bg">
	    <p>Take note of your <code>Access Key</code> from the <strong>Appcrafted Credentials</strong> section of your <a class="link-no-decoration" href="#/account">account</a>, as well as the <code>ID</code> of the <a class="link-no-decoration" href="#/assets">asset container</a> you wish to integrate into your application.</p>
	  </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Authentication</em></p>
	</div>
	<div class="col-xs-10">
	  <p>You must authenticate each request to the Appcrafted Web API. You do so by setting the <code>Authorization</code> header on each of your requests.</p>
	  <p>The <code>Authorization</code> header should be: <code>"Basic " + Base64Encode("&lt;AccessKey&gt;" + ":")</code></p>
	  <p><em>Possible errors:</em></p>
	  <p>If the <code>Authorization</code> header is incorrectly formatted, the Appcrafted server will return <code>HTTP 403</code>:</p>
	  <pre>{"message": "Missing or Incorrect Authorization Header"}</pre>
	  <p><strike>If your <code>Access Key</code> is incorrect, the Appcrafted server will return <code>HTTP 403</code>:</strike></p>
	  <strike><pre>{"message": "Unrecognized Access Key"}</pre></strike>
	  <p><span class="red"><em>Signatures are not used at this time.</em></span> <strike>If the <code>Signature</code> is incorrectly computed, the Appcrafted server will return <code>HTTP 403</code>:</strike></p>
	  <strike><pre>{"message": "Signature Not Verified"}</pre></strike>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Endpoint</em></p>
	</div>
	<div class="col-xs-10">
	  <p><code>http://api.appcrafted.com/</code></p>
	  <p><em>HTTPS</em> may also be used</p>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Response</em></p>
	</div>
	<div class="col-xs-10">
	  <p>The server will response with JSON.</p>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Create an Asset</em></p>
	</div>
	<div class="col-xs-10">
	  <p><strong>POST</strong> <code>/v0/assets/&lt;ContainerID&gt;</code></p>
	  <p>Creates a new asset in the specified container.</p>
	  <br>
	  <p><em>Arguments (as JSON data):</em></p>
	  <br>
	  <p><span class="green">Attribute_Name</span> <code>string</code></p>
	  <p>The name of the attribute.</p>
	  <p><span class="green">Type</span> <code>string</code></p>
	  <p>The attribute type.
	    <pre>"STRING", "NUMBER", "STRING_ARRAY", "NUMBER_ARRAY", "URL", "FILE", "IMAGE"</pre>
	  </p>
	  <p><span class="green">Value</span> <span class="red">(depends on the Type)</span></p>
	  <p><span class="green">Asset_ID</span> (optional) <code>string</code></p>
	  <p>An optional ID for the asset. If none is provided, one will be generated automatically.</p>
	  <pre>{
  &lt;<span class="green">Attribute_Name</span>&gt;: {
    "Type": &lt;<span class="green">Type</span>&gt;,
    "Value": &lt;<span class="green">Value</span>&gt;
  },
  "AssetID": &lt;<span class="green">Asset_ID</span>&gt;
}</pre>
	  <br>
	  <p><em>Response:</em></p>
	  <br>
	  <p>The Appcrafted server will respond with <code>HTTP 201</code> and JSON.</p>
	  <pre>{
  "message": "New Asset Created",
  "ContainerID": "ABC",
  "AssetID": "XYZ"
}</pre>
	  <br>
	  <p><em>cURL example:</em></p>
	  <br>
	  <pre>$ curl http://api.appcrafted.com/v0/assets/<span class="red">&lt;CraftedSpaceID&gt;</span> \
  -X POST -H 'Content-Type: application/json' \
  -d '{"caption": {"Type": "STRING", "Value": "Hello, world"}}' \
  -u <span class="red">&lt;AccessKey&gt;:</span></pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Get a single Asset</em></p>
	</div>
	<div class="col-xs-10">
	  <p><strong>GET</strong> <code>/v0/assets/&lt;ContainerID&gt;/&lt;AssetID&gt;</code></p>
	  <p>Retrieves a single asset.</p>
	  <br>
	  <p><em>Response:</em></p>
	  <br>
	  <pre>{
  "Text": {
    "Type": "STRING",
    "Value": "Hello, world"
  },
  "Link": {
    "Type": "URL",
    "Value": "https://www.appcrafted.com"
  },
  "Image": {
    "Type": "IMAGE",
    "Value": "http://cdn.appcrafted.com/abc.png"
  },
  "AssetID": "example-asset",
  "ContainerID": "XYZ",
  "AssetCreatedDate": "2013-12-10T20:59:46.721Z"
}</pre>
	  <br>
	  <p><em>cURL example:</em></p>
	  <br>
	  <pre>$ curl http://api.appcrafted.com/v0/assets/<span class="red">&lt;CraftedSpaceID&gt;</span>/<span class="red">&lt;AssetID&gt;</span> -u <span class="red">&lt;AccessKey&gt;</span>:</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Get all Assets</em></p>
	</div>
	<div class="col-xs-10">
	  <p><strong>GET</strong> <code>/v0/assets/&lt;ContainerID&gt;/all</code></p>
	  <p>Retrieves all assets from the specified container.</p>
	  <br>
	  <p><em>Response:</em></p>
	  <br>
	  <p>Assets will be returned in an array named <code>Assets</code>. For example, this container holds one asset with three attributes (<em>Text</em>, <em>Link</em>, and <em>Image</em>). Note that <em>Image</em> holds a reference to the Appcrafted CDN.</p>
	  <pre>{
  "message": "Success",
  "Count": 1,
  "Assets": [
    {
      "Text": {
        "Type": "STRING",
	"Value": "Hello, world"
      },
      "Link": {
        "Type": "URL",
	"Value": "https://www.appcrafted.com"
      },
      "Image": {
        "Type": "IMAGE",
	"Value": "http://cdn.appcrafted.com/abc.png"
      },
      "AssetID": "example-asset",
      "ContainerID": "XYZ",
      "AssetCreatedDate": "2013-12-10T20:59:46.721Z"
    }
  ]
}</pre>
	  <br>
	  <p><em>cURL example:</em></p>
	  <br>
	  <pre>$ curl http://api.appcrafted.com/v0/assets/<span class="red">&lt;CraftedSpaceID&gt;</span>/all -u <span class="red">&lt;AccessKey&gt;</span>:</pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Update an Asset</em></p>
	</div>
	<div class="col-xs-10">
	  <p><strong>PUT</strong> <code>/v0/assets/&lt;ContainerID&gt;/&lt;AssetID&gt;</code></p>
	  <div class="light-yellow-bg">
	    <p><em>For clients that don't support HTTP PUT:</em></p>
	    <p><strong>POST</strong> <code>/v0/assets/&lt;ContainerID&gt;/&lt;AssetID&gt;/update_post</code></p>
	  </div>
	  <p>Updates or deletes the attributes of the specified asset depending on the supplied JSON.</p>
	  <br>
	  <p><em>Update</em> an attribute:</p>
	  <br>
	  <pre>{
  &lt;<span class="green">Attribute_Name&gt;</span>: {
    "Action": "UPDATE",
    "Type": &lt<span class="green">Type</span>&gt;,
    "Value": &lt<span class="green">Value</span>&gt;
  }
}</pre>
	  <br>
	  <p><em>Delete</em> an attribute:</p>
	  <br>
	  <pre>{
  &lt;<span class="green">Attribute_Name&gt;</span>: {
    "Action": "DELETE"
  }
}</pre>
	  <br>
	  <p><em>Response:</em></p>
	  <br>
	  <pre>{
  "message": "Asset Updated"
}</pre>
	  <br>
	  <p><em>cURL example:</em></p>
	  <br>
	  <pre>$ curl http://api.appcrafted.com/v0/assets/<span class="red">&lt;CraftedSpaceID&gt;</span>/<span class="red">&lt;AssetID&gt;</span> \
  -X PUT -H 'Content-Type: application/json' \
  -d '{"myAttribute": {"Action": "UPDATE", "Type": "NUMBER", "Value": 42}}' \
  -u <span class="red">&lt;AccessKey&gt;:</span></pre>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Delete an Asset</em></p>
	</div>
	<div class="col-xs-10">
	  <p><strong>DELETE</strong> <code>/v0/assets/&lt;ContainerID&gt;/&lt;AssetID&gt;</code></p>
	  <p>Deletes the specified asset.</p>
	  <br>
	  <p><em>Response:</em></p>
	  <br>
	  <pre>{
  "message": "Asset Deleted"
}</pre>
	  <br>
	  <p><em>cURL example:</em></p>
	  <br>
	  <pre>$ curl http://api.appcrafted.com/v0/assets/<span class="red">&lt;CraftedSpaceID&gt;</span>/<span class="red">&lt;AssetID&gt;</span> \
  -X DELETE -u <span class="red">&lt;AccessKey&gt;:</span></pre>
	</div>
      </div>
    </div>
  </div>
  <div class="row docs-section">
    <div class="row">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>Unity Plugin</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showUnityPluginDocs = !showUnityPluginDocs" class="btn" ng-class="{'btn-danger': showUnityPluginDocs, 'btn-success': !showUnityPluginDocs}">
	  <strong>{{showUnityPluginDocs && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{'hide': !showUnityPluginDocs}">
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-red-bg">
	    <p><strong>Note:</strong> The Unity Plugin documentation is being actively updated</p>
	    </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Before you start</em></p>
	</div>
	<div class="col-xs-10">
	  <div class="light-green-bg">
	    <p>Take note of your <code>Access Key</code> from the <strong>Appcrafted Credentials</strong> section of your <a class="link-no-decoration" href="#/account">account</a>, as well as the <code>ID</code> of the <a class="link-no-decoration" href="#/assets">asset container</a> you wish to integrate into your application.</p>
	  </div>
	</div>
      </div>
      <!-- Method 1 -->
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <p class="light-yellow-bg">The Unity plugin documentation is currently on GitHub.</p>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <p>View the documentation on <a href="https://github.com/CraftedInc/Appcrafted_Unity_Plugin/blob/master/README.md" class="link-no-decoration" target="_blank">GitHub</a>.</p>
	</div>
      </div>
    </div>
  </div>
  <div class="row docs-section">
    <div class="row">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>JavaScript Plugin</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showJavaScriptPluginDocs = !showJavaScriptPluginDocs" class="btn" ng-class="{'btn-danger': showJavaScriptPluginDocs, 'btn-success': !showJavaScriptPluginDocs}">
	  <strong>{{showJavaScriptPluginDocs && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{'hide': !showJavaScriptPluginDocs}">
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <div class="light-red-bg">
	    <p><strong>Note:</strong> The JavaScript Plugin documentation is being actively updated.</p>
	  </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2 align-right">
	  <p><em>Before you start</em></p>
	</div>
	<div class="col-xs-10">
	  <div class="light-green-bg">
	    <p>Take note of your <code>Access Key</code> from the <strong>Appcrafted Credentials</strong> section of your <a class="link-no-decoration" href="#/account">account</a>, as well as the <code>ID</code> of the <a class="link-no-decoration" href="#/assets">asset container</a> you wish to integrate into your application.</p>
	  </div>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <p class="light-yellow-bg">The JavaScript plugin documentation is currently on GitHub.</p>
	</div>
      </div>
      <div class="row docs-row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
	  <p>View the documentation on <a href="https://github.com/CraftedInc/Appcrafted_JavaScript_Plugin/blob/master/README.md" class="link-no-decoration" target="_blank">GitHub</a>.</p>
	</div>
      </div>
    </div>
  </div>
</div>
