<!-- Information Header -->
<div class="info-header border-bottom">
  <h1>Downloads</h1>
</div>

<div class="content-list ng-scope">
  <div class="row downloads-row">
    <div class="col-xs-6 align-right">
      <p>Unity Plugin</p>
    </div>
    <div class="col-xs-6">
      <p>
	<a href="https://github.com/CraftedInc/unity_plugin/archive/master.zip" class="link-no-decoration">
	  <i class="fa fa-download"></i> download
	</a>
      </p>
    </div>
  </div>
  <div class="row downloads-row">
    <div class="col-xs-6 align-right">
      <p>JavaScript Plugin</p>
    </div>
    <div class="col-xs-6">
      <p>
	<a href="https://github.com/CraftedInc/javascript_plugin/archive/master.zip" class="link-no-decoration">
	  <i class="fa fa-download"></i> download
	</a>
      </p>
    </div>
  </div>
  <div class="row downloads-row">
    <div class="col-xs-6 align-right">
      <p>iOS Plugin</p>
    </div>
    <div class="col-xs-6">
      <p>(coming soon)</p>
    </div>
  </div>
  <div class="row downloads-row">
    <div class="col-xs-6 align-right">
      <p>Android Plugin</p>
    </div>
    <div class="col-xs-6">
      <p>(coming soon)</p>
    </div>
  </div>
</div>
