<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header border-bottom" ng-class="{'hide': waiting}">
  <h1>Edit Container</h1>
  <a href="#/cspaces/" class="left-link"><i class="fa fa-times"></i> Cancel</a>
</div>

<!-- EDIT form -->
<form class="form-horizontal row" role="form" id="edit-cspace-form" name="CSpaceForm" ng-class="{'hide': waiting}">
  <div class="row">
    <div class="form-group">
      <label for="title" class="col-xs-4 control-label">Name</label>
      <div class="col-xs-5">
	<input name="title" type="text" class="form-control" id="title" placeholder="Name (required)" ng-model="cSpace.title">
      </div>
    </div>
    <div class="form-group">
      <label for="tags" class="col-xs-4 control-label">Tags</label>
      <div class="col-xs-5">
	<input type="text" class="form-control" id="tags" placeholder="(optional, comma-separated)" ng-model="cSpace.tags" ng-list>
      </div>
    </div>
  </div>
  <div class="row button-row">
    <div class="center">
      <button class="btn btn-success" ng-click="update(CSpaceForm)"><strong>Save Changes</strong></button>
      <button class="btn btn-danger" confirm-delete><strong>Delete</strong></button>
    </div>
  </div>
</form>
