<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Information Header -->
<div class="info-header border-bottom" ng-class="{'hide': waiting}">
  <h1>Edit Asset</h1>
  <a href="#/cspaces/{{cSpaceID}}/asset" class="left-link"><i class="fa fa-times"></i> Cancel</a>
</div>

<!-- EDIT form -->
<form class="form-horizontal" role="form" id="create-asset-form" name="EditAssetForm" ng-class="{'hide': waiting}" novalidate>
  <div class="row">
    <div class="col-xs-3">
      <p><em>Asset ID</em></p>
    </div>
    <div class="col-xs-3">
      <p><em>Container ID</em></p>
    </div>
  </div>
  <div class="row attribute-row">
    <div class="col-xs-3">
      <p><code>{{oldAsset.AssetID}}</code></p>
    </div>
    <div class="col-xs-3">
      <p><code>{{cSpaceID}}</code></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <p><em>Attribute Name</em></p>
    </div>
    <div class="col-xs-2">
      <p><em>Type</em></p>
    </div>
    <div class="col-xs-5">
      <p><em>Value</em></p>
    </div>
    <div class="col-xs-2">
      <p><em>Remove?</em></p>
    </div>
  </div>
  <!-- Dynamic Attribue Input Form -->
  <div class="row attribute-row" ng-repeat="attribute in attributes">
    <div ng-form="attributeForm">
      <div class="form-group">
	<div class="col-xs-3">
	  <input type="text" class="form-control" placeholder="Enter a name..." name="attributeName" ng-model="attribute.Name" required ng-class="{'error-background': attributeForm.attributeName.$error.required && submitted}">
	</div>
	<div class="col-xs-2">
	  <select class="btn btn-default" id="select-sort-by" ng-model="attribute.Type" required>
	    <option value="STRING">String</option>
	    <option value="URL">URL</option>
	    <option value="IMAGE">Image</option>
	    <option value="FILE">File</option>
	    <option value="ARRAY">Array</option>
	    <option value="NUMBER">Number</option>
	  </select>
	</div>
	<div class="col-xs-5">
	  <div ng-switch on="attribute.Type">
	    <div ng-switch-when="STRING">
	      <textarea name="attributeString" type="text" class="form-control" placeholder="Enter a string..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeString.$error.required && submitted}" rows="3"></textarea>
	    </div>
	    <div ng-switch-when="URL">
	      <input name="attributeURL" type="url" class="form-control" placeholder="Enter a valid URL..." ng-model="attribute.Value" required ng-class="{'error-background': (attributeForm.attributeURL.$error.required || attributeForm.attributeURL.$error.url) && submitted}">
	    </div>
	    <div ng-switch-when="IMAGE">
	      <div on-change="readFile($index)" image-drop="file" ng-class="{'draggable': !attribute.Value, 'dropzone': !attribute.Value}">
		<p ng-show="!attribute.Value" class="text-muted drag-drop-text">
		  Drag and drop an image here
		</p>
		<img ng-show="!!attribute.Value" ng-src="{{attribute.ImageSrc || attribute.Value}}" class="asset-img draggable">
		<p ng-show="!!attribute.Value" class="text-muted">
		  Drag and drop an image here
		</p>
	      </div>
	    </div>
	    <div ng-switch-when="FILE">
	      <input type="file" file-input="file" on-change="readFile($index)">
	      <a ng-show="!!attribute.Value" class="link-no-decoration" href="{{attribute.Value}}">Current file</a>
	    </div>
	    <div ng-switch-when="ARRAY">
	      <input name="attributeArray" type="text" class="form-control" placeholder="Enter comma-separated values..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeArray.$error.required && submitted}">
	    </div>
	    <div ng-switch-when="NUMBER">
	      <input name="attributeNumber" type="number" class="form-control" placeholder="Enter a number..." ng-model="attribute.Value" required ng-class="{'error-background': attributeForm.attributeNumber.$error.required && submitted}">
	    </div>
	  </div>
	</div>
	<div class="col-xs-2">
	  <button class="btn btn-default" ng-click="removeAttribute($index)">
	    <i class="fa fa-times"></i>
	  </button>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="addAttribute()">
      <i class="fa fa-plus"></i> <strong>Attribute</strong>
    </button>
  </div>
  <div class="row button-row">
    <div class="center">
      <button class="btn btn-success" ng-click="update(EditAssetForm)">
	<strong>Save Changes</strong>
      </button>
      <button class="btn btn-danger" confirm-delete>
	<strong>Delete</strong>
      </button>
    </div>
    <p ng-show="(EditAssetForm.$error.required || EditAssetForm.$error.url) && submitted" class="error-message center"><i class="fa fa-warning"></i> Required fields are missing or invalid</p>
  </div>
</form>
