<!-- Header -->
<div class="info-header border-bottom" ng-class="{'hide': waiting}">
  <h1>Edit Your Account</h1>
  <a href="#/account/" class="left-link"><i class="fa fa-times"></i> Cancel</a>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Edit account -->
<form class="form-horizontal row" role="form" id="edit-account-form" name="AccountForm" ng-class="{'hide': waiting}">
  <div class="content-list">
    <div class="row form-group">
      <label for="name" class="col-xs-4 control-label align-right">
	<strong>Name</strong>
      </label>
      <div class="col-xs-5">
	<input type="text" class="form-control" id="name" placeholder="Name" ng-model="account.Name">
      </div>
    </div>
    <div class="row form-group">
      <label for="email" class="col-xs-4 control-label align-right">
	<strong>Email</strong>
      </label>
      <div class="col-xs-5">
	<input type="email" class="form-control" id="email" placeholder="Email" ng-model="account.Email">
      </div>
    </div>
  </div>
  <div class="row button-row">
    <div class="center">
      <button class="btn btn-success" ng-click="update(AccountForm)"><strong>Save Changes</strong></button>
    </div>
  </div>
</form>
