<!-- Header -->
<div class="info-header border-bottom" ng-class="{'hide': waiting}">
  <h1>Edit Your Account</h1>
  <a href="#/account/" class="left-link">
    <i class="fa fa-times"></i>
    <strong>Cancel</strong>
  </a>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- Edit account -->
<form class="form-horizontal row" role="form" id="edit-account-form" name="AccountForm" ng-class="{'hide': waiting}" novalidate>
  <div class="content-list">
    <div class="row form-group">
      <label for="name" class="col-xs-4 control-label align-right">
	<strong>Name</strong>
      </label>
      <div class="col-xs-5">
	<input type="text" class="form-control" name="name" id="name" placeholder="Name" ng-model="account.Name" required ng-class="{'error-background': AccountForm.name.$error.required && submitted}">
      </div>
    </div>
    <div class="row form-group">
      <label for="email" class="col-xs-4 control-label align-right">
	<strong>Email</strong>
      </label>
      <div class="col-xs-5">
	<input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="account.Email" required ng-class="{'error-background': (AccountForm.email.$error.email || AccountForm.email.$error.required) && submitted}">
      </div>
    </div>
  </div>
  <div class="row button-row">
    <div class="center">
      <button class="btn btn-success" ng-click="update(AccountForm)"><strong>Save Changes</strong></button>
    </div>
    <p class="error-message center" ng-show="(AccountForm.$error.required || AccountForm.$error.email) && submitted">
      <i class="fa fa-warning"></i> Required fields are missing or invalid
    </p>
  </div>
</form>
