<div class="row">
  <div class="col-xs-4 home-tile">
    <a href="#/cspaces/" class="home-link">
      <i class="fa fa-suitcase home-icon"></i>
      <p>Assets</p>
    </a>
  </div>
  <div class="col-xs-4 home-tile">
    <a href="#/cspaces/" class="home-link">
      <i class="fa fa-bar-chart-o home-icon"></i>
      <p>Metrics</p>
    </a>
  </div>
  <div class="col-xs-4 home-tile">
    <a href="#/cspaces/" class="home-link">
      <i class="fa fa-desktop home-icon"></i>
      <p>Campaigns</p>
    </a>
  </div>
</div>
