<!-- Information Header -->
<div class="info-header border-bottom">
  <h1>Pricing</h1>
</div>

<div class="content-list ng-scope">
  <div class="row downloads-row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <p>
	<em>This pre-release preview is free to use.</em>
      </p>
      <p style="margin-top: 30px">
	We are working on finding the best pricing structure to make sure Appcrafted is affordable while allowing us to sustain continuous development.
      </p>
      <p>
	Please contact us with any suggestions regarding pricing structure.
      </p>
      <p>
	<a class="link-no-decoration" href="mailto:Appcrafted <contact@appcrafted.com>">
	  <i class="fa fa-envelope"></i> contact@appcrafted.com
	</a>
      </p>
      <p>
	<a class="link-no-decoration" href="https://www.appcrafted.com/#contact" target="_blank">
	  <i class="fa fa-external-link"></i> contact form
	</a>
      </p>
    </div>
  </div>
</div>
