html, body {
    height: 100%;
}
#main-container {
    background-color: #333;
    padding: 0;
    margin-bottom: 20px;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    border-radius: 5px 5px 5px 5px;
}
#angular-content {
    margin: 0;
    padding: 0;
    min-height: 500px;
    background-color: #111;
    border-radius: 5px;
}
#top-bar {
    height: 40px;
    border-radius: 5px 5px 0 0;
}
#sidebar {
    margin: 0;
    padding: 0;
}
.home-row {
    padding: 40px 0;
    text-align: center;
}
.home-row, .home-row > h1 {
    font-family: 'Comfortaa', Helvetica, Arial, sans-serif !important;
}
.home-icon {
    font-size: 150px;
}
.home-link {
    color: #999;
    transition: 0.5s !important;
}
.home-link:hover {
    color: #5cb85c !important;
    text-decoration: none;
}
.right-link {
    transition: 0.25s;
    position: absolute;
    right: 20px;
    top: 21px;
    color: #999;
}
.right-link:hover {
    text-decoration: none;
    color: #FFF;
}
.left-link {
    transition: 0.25s;
    position: absolute;
    left: 20px;
    top: 21px;
    color: #999;
}
.left-link:hover {
    text-decoration: none;
    color: #FFF;
}
.sidebar-nav {
    transition: 0.25s;
    font-size: 12px;
    padding: 7px 0 8px 30px;
    display: block;
    width: 100%;
    color: #999;
}
.sidebar-nav:hover {
    color: #FFF;
    background-color: #555 !important;
    text-decoration: none;
}
.inactive-sidebar-nav {
    font-size: 12px;
    padding: 8px 0 8px 30px;
    margin: 0;
    display: block;
    width: 100%;
    color: #555;
}
#appcrafted-logo {
    color: #DDD;
    font-family: 'Comfortaa', Helvetica, Arial, sans-serif !important;
}
.ad-thumbnail {
    padding: 20px 10px 20px 0;
    border-top: 1px solid #CECECE;
}
.asset-container-thumbnail {
    position: relative;
    font-size: 0.9em;
    text-align: center;
    display: inline-block;
    padding: 20px 10px;
    width: 268px;
    border-radius: 5px;
    transition: 0.25s;
}
.asset-container-thumbnail i {
    font-size: 100px;
}
.asset-container-thumbnail p {
    padding: 0;
    margin: 0;
}
.asset-table {
    font-size: 10px;
}
.no-wrap {
    overflow: hidden;
    white-space: nowrap;
}
.asset-attribute-row {
    font-size: 10px;
    font-weight: bold;
}
.asset-row {
    padding: 20px 0;
    position: relative;
    transition: 0.25s;
}
.asset-row:hover {
    background-color: #333;
}
.asset-row-light {
    background-color: #1A1A1A;
}
.asset-row p {
    margin: 0;
}
.asset-thumbnail {
    position: relative;
    font-size: 0.9em;
    text-align: center;
    display: inline-block;
    padding: 20px 10px;
    width: 201px;
    border-radius: 5px;
    transition: 0.25s;
}
.asset-thumbnail:hover {
    background-color: #222;
}
.asset-thumbnail i {
    font-size: 100px;
}
.asset-thumbnail p {
    padding: 0;
    margin: 0;
}
.attribute-row {
    min-height: 60px;
    margin: 10px 0;
}
.content-row {
    border-bottom: 1px solid #333;
    padding: 20px 0;
}
.docs-section {
    background-color: #F5F5F5;
    color: #333;
    border-bottom: 1px solid #DDD;
    padding: 20px 0;
}
.account-row {
    border-bottom: 1px solid #333;
    padding: 20px 0;
}
.docs-row {
    margin: 10px 0 20px 0;
}
.doc-header {
    font-size: 20px;
}
.documentation {
    border-top: 2px solid #333;
}
.align-right {
    text-align: right;
}
.content-list {
    color: #999;
}
a.no-decoration:hover {
    text-decoration: none;
}
#clear-search {
    cursor: pointer;
}
body {
    background-color: rgb(22, 22, 22) !important;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding: 0 0 30px;
}
#footer {
    height: 30px;
}
#input-group-search {
    width: 250px;
}
#cspace-control-bar, #account-control-bar, #control-bar {
    position: relative;
    border-bottom: 1px solid #333;
    padding: 15px;
    height: 64px;
}
#cspace-control-bar label, #account-control-bar label, #control-bar label {
    color: #999;
}
#metrics-bar {
    background-color: #CECECE;
    padding: 15px 15px 12px 0;
    border-radius: 5px 5px 0 0;
    max-height: 64px;
}
.metrics-row {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.cspace-information {
    display: inline-block;
}
.cspace-img, .ad-img, .asset-img {
    max-height: 74px;
    display: inline-block;
}
.tag {
    cursor: pointer;
    margin-right: 3px;
}
.tag:hover {
    color: white;
    text-decoration: none;
}
#select-ordering, #select-sort-by {
    margin-right: 20px;
}
#select-sort-by {
    height: 34px;
}
#create-cspace-form, #create-ad-form, #edit-cspace-form, #edit-ad-form, #create-asset-form, #edit-asset-form, #edit-account-form {
    color: #999;
    padding: 20px;
}
.drag-over {
    opacity: 0.5;
    border-color: rgb(210, 210, 210);
}
.draggable {
    border: 2px dotted rgb(180, 180, 180);
    border-radius: 5px;
}
.dropzone {
    height: 74px;
    width: 100%;
    background-color: #222;
}
.drag-drop-text {
    margin-top: 24px;
    text-align: center;
}
.text-blue {
    color: rgb(46, 105, 180);
    font-size: 1.4em;
}
.metrics-text {
    color: #646464;
    margin: 0;
    text-align: center;
}
.line-chart {
    height: 300px;
}
.chart {
    box-shadow: inset 0 0 6px #A0A0A0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dygraph-legend {
    color: #646464;
    background: none !important;
    font-size: 16px !important;
}
.waiting {
    width: 100px;
    margin: 50px auto 0 auto;
}
.info-header {
    position: relative;
    padding: 15px;
    text-align: center;
}
.info-header > h1 {
    color: #999;
    font-size: 30px;
    display: inline;
}
.info-header > p {
    color: #999;
}
.bottom-radius {
    border-radius: 0 0 5px 5px;
}
.appcrafted-blue {
    color: #3FA9F5 !important;
}
.green {
    color: #5cb85c;
}
.blue {
    color: #428bca;
}
.red {
    color: #d9534f
}
.light-red-bg {
    color: #333;
    background-color: #FCD2D2;
    border-radius: 4px;
    padding: 9.5px;
    border: 1px solid #ccc;
}
.light-green-bg {
    color: #333;
    background-color: #D4FCD2;
    border-radius: 4px;
    padding: 9.5px;
    border: 1px solid #ccc;
}
.light-yellow-bg {
    color: #333;
    background-color: #FCF9D2;
    border-radius: 4px;
    padding: 9.5px;
    border: 1px solid #ccc;
}
.link-no-decoration:hover {
    text-decoration: none;
}
.center {
    text-align: center;
}
.border-bottom {
    border-bottom: 1px solid #333;
}
.border-top {
    border-top: 1px solid #CECECE;
}
.button-row {
    padding: 20px 0 5px 0;
}
/**
 * Error styles.
 */
input.error-background, textarea.error-background, div.error-background {
    background-color: #AC2D29;
    transition: 0.25s;
}
input:focus.error-background, textarea:focus.error-background {
    background: #FFF;
}
.error-message {
    color: #AC2D29;
    font-weight: bold;
    margin: 8px 0 0 0;
}
/**
 * Override responsive Bootstrap.
 */
.container {
    max-width: none !important;
    width: 970px !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.appcrafted-nav {
    padding: 5px 8px !important;
    margin: 0 0 0 6px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #333;
    font-size: 12px;
    display: inline !important;
    transition: 0.25s;
}
.appcrafted-nav:hover {
    background-color: #333 !important;
}
.active {
    background-color: #5cb85c !important;
    color: #111 !important;
}
.active:hover {
    background-color: #5cb85c !important;
    color: #111 !important;
}
.navbar-inverse {
    border: none !important;
    background: none !important;
}
.navbar {
    margin: 0 auto !important;
    height: 50px !important;
    width: 970px !important;
    padding-top: 14px !important;
}
.navbar-nav {
    margin: 0 !important;
    float: right !important;
}
.navbar-appcrafted-home {
    position: absolute;
    left: 6px;
    top: 0;
}
.navbar-appcrafted-home a {
    font-size: 16px;
}
code {
    color: #333 !important;
    padding: 4px 4px 2px 4px !important;
    background-color: #CECECE !important;
}
.docs-section pre {
    background-color: #EEE !important;
}
.docs-section code {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #EEE !important;
}
pre {
    font-size: 12px !important;
}
.btn {
    border-color: transparent !important;
}
