doctype 5
html
  head
    title= 'Appcrafted | Page Not Found'
    link(rel='icon', type='image/ico', href='/static/img/favicon.ico')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Comfortaa:700')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      #landing-body {
        background-color: rgb(30, 30, 30);
        padding-top: 100px;
        text-align: center;
        font-family: 'Comfortaa', Helvetica, Arial, sans-serif !important;
      }
      #not-found {
        margin: 30px auto 40px auto;
        font-size: 30px;
        font-weight: 100;
        color: #F8F8F8;
      }
      .btn {
        font-size: 20px;
        background-color: #3FA9F5;
        border: 2px solid #3FA9F5;
        padding: 15px 20px;
        color: #F8F8F8;
        transition: 0.25s;
      }
      .btn:hover {
        cursor: pointer;
        color: #3FA9F5;
        text-decoration: none;
        background: none;
      }
      #logo {
        font-size: 80px;
        color: #DDD;
        text-decoration: none;
      }
      #logo:hover {
        color: #DDD;
        text-decoration: none;
      }
      .appcrafted-blue {
        color: #3FA9F5;
      }
  body#landing-body
    a#logo(href='/', title='Appcrafted') <span class="appcrafted-blue">App</span>crafted
    h1#not-found Not Found!
    a.btn(onclick='window.history.back()')
      strong Back
