doctype 5
html
  head
    title= 'AdCrafted | Error'
    link(rel='icon', type='image/ico', href='http://www.adcrafted.com/static/img/favicon.ico')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      #landing-body {
        background-color: rgb(63, 169, 245);
        background-image: url('http://www.adcrafted.com/static/img/logo.png');
        background-repeat: no-repeat;
        background-position: center 208px;
        text-align: center;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
      }
      #error {
        margin: 340px auto 30px auto;
        font-size: 30px;
        font-weight: 100;
      }
      .btn {
        font-size: 20px;
        background-color: rgb(230,230,230);
        padding: 15px;
        border-radius: 5px;
        text-decoration: none;
        color: rgb(70,70,70);
        box-shadow: 0 0 5px rgb(70,70,70);
      }
      .btn:hover {
        cursor: pointer;
        color: rgb(63, 169, 245);
        text-decoration: none;
        background-color: rgb(220,220,220);
        box-shadow: 0 0 2px rgb(100,100,100);
      }
  body#landing-body
    h1#error Something went wrong!
    a.btn(onclick='window.history.back()') Go Back
