extends layout

block head
  if (modal)
    script(type='text/javascript').
      $(document).ready(function() {
        $('#signin-modal').modal();
      });
  if (email)
    script(type='text/javascript').
      $(document).ready(function() {
        $('#email-input').val('#{email}');
        $('#comment-modal').modal();
      });

block content
  // Modals.
  // Signin modal.
  div#signin-modal.modal(tabindex='-1', role='dialog', aria-labelledby='signin-modal-label', aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div#signin-body.modal-body
          a(data-dismiss='modal', aria-hidden='true')
            span#signin-modal-close.glyphicon.glyphicon-remove
          div#signin-google
            a(href='http://accounts.' + domain + '/auth/google')
              img(src='/static/img/Red-signin_Long_base_32dp.png')
        div.modal-footer
          p By signing in with Google, you agree to our
            <a href='#'>Terms of Service</a> & <a href='#'>Privacy Policy</a>
  // Extra comment modal
  div#comment-modal.modal(tabindex='-1', role='dialog', aria-labelledby='comment-modal-label', aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4#comment-header.text-muted Our service is currently private. Fill out this form to request access.
        div.modal-body
          input#comment-name.form-control(placeholder='Your name')
          input#email-input.form-control(placeholder='Your email')
        div.modal-footer
          button#send-info.btn.btn-primary(type='button', data-dismiss='modal') Send
          button#send-info-2.btn.btn-default(type='button', data-dismiss='modal') Close

  // Top of page.
  div#home
    div#dark-overlay
      div.container
        div#home-content.row
          div.col-md-7
            div#tagline-area
              h1#tagline-1.tagline SEND CONTENT TO YOUR APP.
              h1#tagline-2.tagline STORE DATA FROM YOUR APP.
              h1#tagline-3.tagline WORKS WITH FILES AND IMAGES.
              h1#tagline-4.tagline FULLY MANAGED AND HOSTED.
            ul#fader-nav-area
              li#nav-1.fader-nav(data-index='0')
              li#nav-2.fader-nav(data-index='1')
              li#nav-3.fader-nav(data-index='2')
              li#nav-4.fader-nav(data-index='3')
          div#get-started-container.col-md-5
            a.big-blue-btn(href=protocol + 'developer.' + domain, data-toggle='modal') GET STARTED

  // About.
  div#about
    div.container
      div.row.featurette
        div.col-md-4.col-md-offset-1
          i.fa.fa-cloud.about-icon
          h1.featurette-heading.about-heading NoSQL simplicity
          p.about-text Schema-less, flexible, and very fast. Supports everything from <span class="appcrafted-blue">strings</span> to <span class="appcrafted-blue">files</span>.
        div.col-md-4.col-md-offset-2
          i.fa.fa-exchange.about-icon
          h1.featurette-heading.about-heading Across your apps
          p.about-text Easily share data and content across your mobile and web applications.
      hr.about-divider
      div.row.featurette
        div.col-md-6
          h1.featurette-heading.about-heading-2 It<span class="hide">'</span>'s <span class="appcrafted-blue">easy</span> to integrate...
        div.col-md-5
          pre.code.
            <span class="teal">var</span> db = <span class="teal">new</span> <span class="orange">Appcrafted</span>(<span class="yellow">"ACCESS_KEY"</span>);
            db.getAsset(<span class="yellow">"ID"</span>, <span class="teal">function</span>(<strong>err</strong>, <strong>data</strong>) {
              <span class="teal">if</span> (err) {
                console.log(err);
              } <span class="teal">else</span> {
                $(<span class="yellow">"#title"</span>).text(data.text[<span class="yellow">"Value"</span>]);
              }
            });
      div.row.featurette(style='margin: 80px 0')
        div.col-md-8
          img#screenshots(src='/static/img/laptop-screenshots.png', alt='Appcrafted screenshots')
        div.col-md-4
          h1#easy-to-use.featurette-heading.about-heading-2 ...and <span class="appcrafted-blue">fun</span> to use.
      hr.about-divider
      div.row.featurette
          h2.featurette-heading.about-heading-2 Unity and JavaScript plugins. <span class="text-muted">iOS and Android coming soon.</span>
      div.row.featurette
        div.col-md-6.col-md-offset-3
          img(src='/static/img/unity-80x80.png', alt='Unity')
          img(src='/static/img/browser-h80.png', alt='Various Web Browsers')
          img.grayscale(src='/static/img/iOS-80x80.png', alt='iOS', style='opacity: 0.2')
          img.grayscale(src='/static/img/android-80x80.png', alt='Android', style='opacity: 0.5')
      div.row.featurette(style='margin: 100px 0 20px 0')
        a.big-blue-btn(href=protocol + 'developer.' + domain, data-toggle='modal') START NOW

  // Contact.
  div#contact
    div.container
      h1.about-heading Contact Us
      div#contact-form
        div#contact-error.alert.alert-danger.hide
          button.close(type='button', aria-hidden='true') &times;
          strong <span id='contact-error-text'>Error! Please try again.</span>
        div#contact-success.alert.alert-success.hide
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          strong Your message has been sent.
        div.contact-row.row
          div.contact-col.col-md-6
            input#contact-email.form-control(placeholder='Your email')
          div.contact-col.col-md-6
            input#contact-name.form-control(placeholder='Your name')
        textarea#contact-comment.form-control(rows='5', placeholder="Your message")
        button#contact-send Send

  // Team.
  div#team
    div.container
      div.col-lg-6
        a(href='https://twitter.com/theBrandonWu', target='_blank')
          img.img-circle.img-team(src='/static/img/BrandonWu-140x140.jpg', alt='Photo of Brandon Wu')
        h1.team-member Brandon Wu
        p.team-text Brandon founded a mobile game company, worked as a strategist at Sony, and managed a QA team at EA. He also organizes a game developer community in Seattle with 600+ members.
      div.col-lg-6
        a(href='http://www.jamespasko.com', target='_blank')
          img.img-circle.img-team(src='/static/img/JamesPasko-2-140x140.jpg', alt='Photo of James Pasko')
        h1.team-member James Pasko
        p.team-text James designed software for Google, built a portfolio-management service for artists, and developed signal processing algorithms for medical imaging devices in graduate school.
