div#privacy-modal.modal(tabindex='-1', role='dialog', aria-labelledby='signin-modal-label', aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h4.modal-title PRIVACY POLICY
      div.modal-body
        p Your privacy is important to Crafted, Inc. This privacy policy provides information about the personal information that Crafted, Inc. collects, and the ways in which Crafted, Inc. uses that personal information.
        p
        p
          strong Personal information collection
        p Crafted, Inc. may collect and use the following kinds of personal information:
        ul
          li information about your use of this website;
          li information that you provide using for the purpose of registering with the website;
          li information about transactions carried out over this website;
          li information that you provide for the purpose of subscribing to the website services; and
          li any other information that you send to Crafted, Inc.
        p
          strong Using personal information
        p Crafted, Inc. may use your personal information to:
        ul
          li administer this website;
          li personalize the website for you;
          li enable your access to and use of the website services;
          li publish information about you on the website;
          li send to you products that you purchase;
          li supply to you services that you purchase;
          li send to you statements and invoices;
          li collect payments from you; and
          li send you marketing communications.
        p Where Crafted, Inc. discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy policy.
        p In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Crafted, Inc. may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
        p
          strong Securing your data
        p Crafted, Inc. will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
        p Crafted, Inc. will store all the personal information you provide.
        p
          strong Cross-border data transfers
        p Information that Crafted, Inc. collects may be stored and processed in and transferred between any of the countries in which Crafted, Inc. operates to enable the use of the information in accordance with this privacy policy.
        p In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.
        p You agree to such cross-border transfers of personal information.
        p
          strong Updating this statement
        p Crafted, Inc. may update this privacy policy by posting a new version on this website.
        p You should check this page occasionally to ensure you are familiar with any changes.
        p
          strong Other websites
        p This website contains links to other websites.
        p Crafted, Inc. is not responsible for the privacy policies or practices of any third party.
        p
          strong Contact Crafted, Inc.
        p If you have any questions about this privacy policy or Crafted, Inc. s treatment of your personal information, please write:
        ul
          li by email to contact@appcrafted.com.
        p
          strong Credit
        p This document was created using a Contractology template available at <a href="http://www.freenetlaw.com" target="_blank">http://www.freenetlaw.com</a>.
      div.modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
