<!-- BACK bar -->
<div class="form-inline row" id="adspace-control-bar">
  <a href="#/adspaces/" class="btn btn-default"><strong>Back</strong></a>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- CREATION form -->
<form class="form-horizontal row" role="form" id="create-adspace-form" name="newAdSpaceForm" ng-class="{'hide': waiting}">
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group">
	<label for="title" class="col-xs-2 control-label">Title</label>
	<div class="col-xs-9">
	  <input name="title" type="text" class="form-control" id="title" placeholder="Title" ng-model="adSpace.title" required>
	</div>
      </div>
      <div class="form-group">
	<label for="description" class="col-xs-2 control-label">Description</label>
	<div class="col-xs-9">
	  <textarea class="form-control" id="description" placeholder="Description" ng-model="adSpace.description" rows="4" required></textarea>
	</div>
      </div>
      <div class="form-group">
	<label for="tags" class="col-xs-2 control-label">Tags</label>
	<div class="col-xs-9">
	  <input type="text" class="form-control" id="tags" placeholder="(comma-separated)" ng-model="adSpace.tags" ng-list>
	</div>
      </div>
    </div>
    <div class="col-xs-3">
      <img ng-src="{{imageSrc}}" fallback-src="http://placehold.it/200x180" class="adspace-img img-rounded draggable" on-change="readFile()" image-drop="file">
      <p class="text-muted">Drag and drop an image here.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7">
      <button class="btn btn-success" ng-click="create(newAdSpaceForm)"><strong>Create AdSpace</strong></button>
    </div>
  </div>
</form>
