<!-- BACK bar -->
<div class="form-inline row" id="adspace-control-bar">
  <a href="#/adspaces/{{adSpaceID}}/" class="btn btn-default"><strong>Back</strong></a>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- CREATION form -->
<form class="form-horizontal row" role="form" id="create-ad-form" name="newAdForm" ng-class="{'hide': waiting}">
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group">
	<label for="title" class="col-xs-2 control-label">Title</label>
	<div class="col-xs-9">
	  <input type="text" class="form-control" id="title" placeholder="Title" ng-model="ad.title">
	</div>
      </div>
      <div class="form-group">
	<label for="text" class="col-xs-2 control-label">Text</label>
	<div class="col-xs-9">
	  <textarea class="form-control" id="text" placeholder="Text" ng-model="ad.text" rows="4"></textarea>
	</div>
      </div>
      <div class="form-group">
	<label for="link" class="col-xs-2 control-label">Link</label>
	<div class="col-xs-9">
	  <input type="url" class="form-control" id="link" placeholder="Link" ng-model="ad.link">
	</div>
      </div>
    </div>
    <div class="col-xs-3">
      <img ng-src="{{imageSrc}}" fallback-src="http://placehold.it/200x180" class="ad-img img-rounded draggable" on-change="readFile()" image-drop="file">
      <p class="text-muted">Drag and drop an image here.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7">
      <button class="btn btn-success" ng-click="create(newAdForm)"><strong>Create Ad</strong></button>
    </div>
  </div>
</form>
