<!-- BACK bar -->
<div class="form-inline row" id="adspace-control-bar">
  <a href="#/adspaces/{{adSpaceID}}/" class="btn btn-default"><strong>Back</strong></a>
</div>

<!-- EDIT form -->
<form class="form-horizontal row" role="form" id="edit-ad-form" name="AdForm">
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group">
	<label for="title" class="col-xs-2 control-label">Title</label>
	<div class="col-xs-9">
	  <input name="title" type="text" class="form-control" id="title" placeholder="Title" ng-model="ad.title" required>
	</div>
      </div>
      <div class="form-group">
	<label for="text" class="col-xs-2 control-label">Text</label>
	<div class="col-xs-9">
	  <textarea class="form-control" id="text" placeholder="Text" ng-model="ad.text" rows="4" required></textarea>
	</div>
      </div>
      <div class="form-group">
	<label for="tags" class="col-xs-2 control-label">Link</label>
	<div class="col-xs-9">
	  <input type="url" class="form-control" id="tags" placeholder="Valid URL" ng-model="ad.link">
	</div>
      </div>
    </div>
    <div class="col-xs-3">
      <img ng-src="{{imageSrc}}" fallback-src="http://placehold.it/240x240" class="ad-img img-rounded draggable" on-change="readFile()" image-drop="file">
      <p class="text-muted">Drag and drop an image file here.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <button class="btn btn-success" ng-click="update(AdForm)"><strong>Save Changes</strong></button>
      <button class="btn btn-danger" ng-click="del()"><strong>Delete</strong></button>
    </div>
  </div>
</form>
