<!-- Control bar -->
<div class="form-inline row" id="account-control-bar">
  <a href="#/adspaces/" class="btn btn-success"><strong>Home</strong></a>
  <a href="#/account/edit/" class="btn btn-default"><strong>Edit Account</strong></a>
</div>

<!-- Account display -->
<div class="content-list">
  <div class="row account-row">
    <div class="col-xs-6 align-right">
      <p><strong>Name</strong></p>
    </div>
    <div class="col-xs-6">
      <p>{{account.Name}}</p>
    </div>
  </div>
  <div class="row account-row">
    <div class="col-xs-6 align-right">
      <p><strong>Email</strong></p>
    </div>
    <div class="col-xs-6">
      <p>{{account.Email}}</p>
    </div>
  </div>
  <div class="row account-row">
    <div class="row" style="padding-bottom: 10px">
      <div class="col-xs-6 align-right">
	<p style="margin-top: 5px"><strong>AdCrafted Credentials</strong></p>
      </div>
      <div class="col-xs-6">
	<a ng-click="showCredentials = !showCredentials" class="btn" ng-class="{'btn-danger': showCredentials, 'btn-success': !showCredentials}">
	  <strong>{{showCredentials && 'Hide' || 'Show'}}</strong>
	</a>
      </div>
    </div>
    <div ng-class="{ 'hide': !showCredentials }">
      <div class="col-xs-6 align-right">
	<p>Access Key</p>
	<p>Secret Key</p>
      </div>
      <div class="col-xs-6">
	<p><code>{{account.UserID}}</code></p>
	<p><code>{{account.SecretKey}}</code></p>
      </div>
    </div>
  </div>
</div>
