<!-- BACK bar -->
<div class="form-inline row" id="adspace-control-bar">
  <a href="#/adspaces/{{adSpaceID}}/" class="btn btn-default">
    <strong><span class="glyphicon glyphicon-arrow-left"></span> Back</strong>
  </a>
</div>

<!-- Waiting GIF -->
<div class="waiting" ng-class="{'hide': !waiting}">
  <img src="/img/waiting.gif">
</div>

<!-- EDIT form -->
<form class="form-horizontal row" role="form" id="edit-ad-form" name="AdForm" ng-class="{'hide': waiting}">
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group">
	<label for="title" class="col-xs-2 control-label">Title</label>
	<div class="col-xs-9">
	  <input name="title" type="text" class="form-control" id="title" placeholder="Title" ng-model="ad.title">
	</div>
      </div>
      <div class="form-group">
	<label for="text" class="col-xs-2 control-label">Text</label>
	<div class="col-xs-9">
	  <textarea class="form-control" id="text" placeholder="Text" ng-model="ad.text" rows="4"></textarea>
	</div>
      </div>
      <div class="form-group">
	<label for="tags" class="col-xs-2 control-label">Link</label>
	<div class="col-xs-9">
	  <input type="url" class="form-control" id="tags" placeholder="Valid URL" ng-model="ad.link">
	</div>
      </div>
    </div>
    <div class="col-xs-3">
      <div on-change="readImageFile()" image-drop="file" ng-class="{'draggable': !hasImage, 'dropzone': !hasImage}">
	<p ng-show="!hasImage" class="text-muted drag-drop-text">
	  Drag and drop an image here
	</p>
	<img ng-show="hasImage" ng-src="{{imageSrc}}" class="ad-img draggable">
      </div>
      <p ng-show="hasImage" class="text-muted">
	Drag and drop an image here
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <button class="btn btn-success" ng-click="update(AdForm)"><strong>Save Changes</strong></button>
      <button class="btn btn-danger" confirm-delete><strong>Delete</strong></button>
    </div>
  </div>
</form>
