div(style="margin: 0 25px; color: #555; font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;")
  p The <strong>AdCrafted</strong> contact form was recently submitted. Please review the submission below and respond as appropriate.
  hr(style="border: 1px solid #DDD; border-top: none;")

  table(style="margin: 0 25px;")
    tr
      td(style="width: 125px") Name
      td=name
    tr
      td(style="width: 125px") Email
      td=email
    tr
      td(style="width: 125px") Role
      td=role
    tr
      td(style="width: 125px") Comment
      td=comment
