div(style="margin: 0 25px; color: #555; font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;")
  p An email was recently submitted. Please review the submission below and respond as appropriate.
  hr(style="border: 1px solid #DDD; border-top: none;")

  table(style="margin: 0 25px;")
    tr
      td(style="width: 125px") App Name
      td=appName
    tr
      td(style="width: 125px") Email
      td=email
