html, body {
    height: 100%;
}
.adspace-thumbnail, .ad-thumbnail {
    padding: 20px 10px 20px 0;
    border-top: 1px solid #CECECE;
}
.account-row {
    padding: 10px 0 0 0;
    border-top: 1px solid #CECECE;
}
#edit-account-form {
    background-color: #f8f8f8;
    padding: 0 0 10px 0;
    border-radius: 0 0 5px 5px;
}
.align-right {
    text-align: right;
}
.content-list {
    background-color: #f8f8f8;
    border-radius: 0 0 5px 5px;
}
a.no-decoration:hover {
    text-decoration: none;
}
body {
    background-color: rgb(22, 22, 22) !important;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding: 0 0 30px;
}
#footer {
    height: 30px;
}
#adspace-content {
    padding-bottom: 10px;
}
#input-group-search {
    width: 250px;
}
#adspace-control-bar, #account-control-bar {
    background-color: #CECECE;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    max-height: 64px;
}
#metrics-bar {
    background-color: #CECECE;
    padding: 15px 15px 12px 0;
    border-radius: 5px 5px 0 0;
    max-height: 64px;
}
.metrics-row {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.adspace-information {
    display: inline-block;
}
.adspace-img, .ad-img {
    max-width: 200px;
    display: inline-block;
}
.tag {
    cursor: pointer;
    margin-right: 3px;
}
.tag:hover {
    color: white;
    text-decoration: none;
}
#select-ordering, #select-sort-by {
    margin-right: 20px;
}
#select-sort-by {
    height: 34px;
}
#create-adspace-form, #create-ad-form, #edit-adspace-form, #edit-ad-form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
.drag-over {
    opacity: 0.5;
    border-color: rgb(200, 200, 200);
}
.draggable {
    border: 2px dotted rgb(150, 150, 150);
}
.text-blue {
    color: rgb(46, 105, 180);
    font-size: 1.4em;
}
.metrics-text {
    color: #646464;
    margin: 0;
    text-align: center;
}
.line-chart {
    height: 300px;
}
.chart {
    box-shadow: inset 0 0 6px #A0A0A0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dygraph-legend {
    color: #646464;
    background: none !important;
    font-size: 16px !important;
}
/**
 * Override responsive Bootstrap.
 */
.container {
    max-width: none !important;
    width: 970px !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.adcrafted-nav {
    padding: 5px 8px !important;
    margin: 0 0 0 6px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #333;
    font-size: 12px;
    display: inline !important;
}
.adcrafted-nav:hover {
    background-color: #333 !important;
}
.navbar-inverse {
    border: none !important;
    background: none !important;
}
.navbar {
    margin: 0 auto !important;
    height: 50px !important;
    width: 970px !important;
    padding-top: 14px !important;
}
.navbar-nav {
    margin: 0 !important;
    float: right !important;
}
.navbar-adcrafted-home {
    position: absolute;
    left: 9px;
    top: 15px;
}
.navbar-adcrafted-home a {
    font-size: 16px;
}
