/*
 * Custom LESS variables used to customize Bootstrap. All other variables
 * are left at their Bootstrap defaults.
 *
 * @grid-float-breakpoint = @screen-md-min;
 * @navbar-height = 100px;
 * @navbar-margin-bottom = 0px;
 * @nav-link-hover-bg = transparent;
 */
body {
    min-width: 300px;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home {
    background-color: rgb(63, 169, 245);
    min-height: 330px;
    background-image: url(/static/img/drops_900_blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#dark-overlay {
    background-color: rgba(0,0,0,0.4);
    min-height: 330px;
}
#home-content {
    padding: 80px 0;
}
#tagline {
    color: white;
    font-size: 60px;
    font-weight: bold;
}
#get-started-container {
    margin-top: 60px;
    text-align: center;
    min-height: 90px;
}
#get-started {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    background-color: #3FA9F5;
    padding: 20px;
    transition: 0.25s;
    border: 3px solid #3FA9F5;
}
#get-started:hover {
    background: transparent;
    text-decoration: none;
    color: #3FA9F5;
}
#about {
    padding: 60px 0;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid #999;
    border-bottom: 1px solid #D3D3D3;
}
.about-text {
    font-size: 1.3em;
}
.about-divider {
    border-top: 1px solid #ECECEC;
    margin: 40px auto;
    max-width: 950px;
}
#team {
    background-color: #3FA9F5;
    padding: 60px 0 40px 0;
    text-align: center;
}
.img-team {
    transition: 0.15s;
    border: 5px solid white;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}
.img-team:hover {
    margin: -5px 0 5px 0;
}
.team-member {
    color: rgb(250, 250, 250);
}
.team-text {
    font-size: 1.3em;
    color: rgb(250, 250, 250);
    max-width: 410px;
    margin: 0 auto 20px auto;
}
#location {
    background-color: rgb(180, 180, 180);
    margin-bottom: -4px;
    border-top: 1px solid #999;
}
#contact {
    padding: 60px 0;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #999;
    min-height: 300px;
    text-align: center;
}
#contact-form {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
}
#contact-email {
    height: 40px;
    display: inline;
    max-width: 248px;
    margin-right: 4px;
    margin-bottom: 10px;
}
#contact-name {
    height: 40px;
    display: inline;
    max-width: 248px;
    margin-bottom: 10px;
}
#contact-comment {
    margin: 0 0 20px 0;
}
#not-found {
    color: black;
    font-size: 1.4em;
    text-align: center;
    margin-top: 320px;
}
#contact-send {
    padding: 0;
    margin: 0 0 0 5px;
    width: 90px;
    height: 40px;
    display: inline;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3FA9F5;
    font-size: 1.2em;
    text-align: center;
}
#contact-send:hover {
    cursor: pointer;
    background-color: rgb(116, 189, 241);
}
.email-sending {
    max-width: 110px !important;
    background-color: rgb(116, 189, 241) !important;
}
#footer {
    padding-top: 10px;
    color: rgb(100,100,100);
    background-color: rgb(230, 230, 230);
}
#invalid-email, #server-message, #thank-you {
    display: none;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
#thank-you {
    font-size: 1.4em;
}
#image-input {
    display: none;
}
#login-box {
    width: 325px;
    margin: 100px auto 0 auto;
    text-align: center;
}
#login-body {
    background: rgb(200,200,200);
}
#comment-modal {
    text-align: center;
    padding-top: 100px;
    color: rgb(50, 50, 50);
}
#comment-name {
    max-width: 400px;
    margin: 0 auto 10px auto;
}
#comment {
    max-width: 400px;
    margin: 0 auto;
}
#signin-modal {
    padding-top: 150px;
}
.checkbox {
    margin-left: 20px;
}
#signin-modal-close {
    position: absolute;
    top: -14px;
    right: -14px;
    color: rgb(50,50,50);
    background: white;
    font-size: 35px;
    height: 34px;
    width: 34px;
    border-radius: 16px;
    box-shadow: 0 0 7px #FFF;
}
#signin-modal-close:hover {
    cursor: pointer;
    color: rgb(209,15,15);
}
.modal-footer p, #signin-body p {
    text-align: center;
    color: rgb(100,100,100);
    font-size: 0.8em;
}
#signin-google {
    width: 198px;
    margin: 25px auto 0 auto;
}
#signin-body {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.nav-link {
    margin-left: 50px;
    transition: 0.5s;
}
#logo {
    background-image: url(/static/img/Appcrafted-Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 225px;
    height: 45px;
    margin: 25px 0 0 3px;
    padding: 0;
}
#developers {
    color: #3FA9F5;
    transition: 0.5s;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 26px;
    width: 127px;
    border-color: #3FA9F5;
    background: transparent;
}
#developers:hover {
    color: #777;
    border-color: #777;
    background: transparent;
}
/**
 * The following are additional CSS rules assigned to various Bootstrap
 * classes.
 */
.navbar {
    box-shadow: 0 0 5px 0 white;
}
