/*
 * Custom LESS variables used to customize Bootstrap. All other variables
 * are left at their Bootstrap defaults.
 *
 * @grid-float-breakpoint = @screen-md-min;
 * @navbar-height = 100px;
 * @navbar-margin-bottom = 0px;
 * @nav-link-hover-bg = transparent;
 */
body {
    min-width: 360px;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home {
    background-color: #3FA9F5;
    min-height: 330px;
    background-image: url(/static/img/drops_900_blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#dark-overlay {
    background-color: rgba(0,0,0,0.4);
    min-height: 330px;
}
#home-content {
    padding: 80px 0 70px 0;
}
.tagline {
    color: white;
    font-size: 60px;
    font-weight: bold;
}
#fader-nav-area {
    margin: 20px 0 0 0;
    padding: 0;
}
.fader-nav {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    background: #FFF;
    text-indent: -999px;
    border-radius: 999px;
    cursor: pointer;
}
.fader-nav-active {
    background: #3FA9F5 !important;
}
#get-started-container {
    margin-top: 68px;
    text-align: center;
    min-height: 90px;
}
.big-blue-btn {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    background-color: #3FA9F5;
    padding: 20px;
    transition: 0.25s;
    border: 3px solid #3FA9F5;
}
.big-blue-btn:hover {
    background: transparent;
    text-decoration: none;
    color: #3FA9F5;
}
#about {
    text-align: center;
    padding: 60px 0 80px 0;
    background-color: #F8F8F8;
    border-top: 1px solid #999;
    border-bottom: 1px solid #D3D3D3;
}
#screenshots {
    width: 100%;
}
.about-icon {
    color: #3FA9F5;
    font-size: 130px;
    transition: 0.75s;
    cursor: default;
}
.about-icon:hover {
    color: #B6DDF8;
}
.about-heading {
    color: #707070;
}
.about-heading-2 {
    color: #707070;
    margin: 40px 0 30px 0;
}
.about-text {
    color: #707070;
    font-size: 18px;
}
.about-divider {
    border-top: 1px solid #CCC;
    margin: 80px auto;
    max-width: 950px;
}
pre.code {
    border-radius: 0;
    background-color: #2A2C2E;
    color: #FFF;
    text-align: left;
    font-size: 12px;
}
#team {
    background-color: #3FA9F5;
    padding: 80px 0 60px 0;
    text-align: center;
}
.img-team {
    transition: 0.15s;
    border: 5px solid white;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}
.img-team:hover {
    margin: -5px 0 5px 0;
}
.team-member {
    color: rgb(250, 250, 250);
}
.team-text {
    font-size: 16px;
    color: rgb(250, 250, 250);
    max-width: 410px;
    margin: 0 auto 40px auto;
}
#location {
    background-color: rgb(180, 180, 180);
    margin-bottom: -4px;
    border-top: 1px solid #999;
}
#contact {
    padding: 60px 0 80px 0;
    background-color: #FFF;
    border-bottom: 1px solid #999;
    min-height: 300px;
    text-align: center;
}
#contact-error, #contact-success {
    border-radius: 0;
}
#contact-form {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
}
#contact-email {
    height: 40px;
    margin-bottom: 6px;
    border-radius: 0;
    margin-right: -5px;
}
#contact-name {
    height: 40px;
    margin-bottom: 6px;
    border-radius: 0;
}
.contact-col {
    padding: 0 3px !important;
}
.contact-row {
    margin-left: -3px !important;
    margin-right: -3px !important;
}
#contact-comment {
    margin: 0 0 20px 0;
    border-radius: 0;
}
#not-found {
    color: black;
    font-size: 1.4em;
    text-align: center;
    margin-top: 320px;
}
#contact-send {
    padding: 0;
    margin: 0 0 0 5px;
    width: 100px;
    height: 50px;
    display: inline;
    border: none;
    color: white;
    background-color: #3FA9F5;
    border: 1px solid #3FA9F5;
    font-size: 20px;
    text-align: center;
    transition: 0.25s;
}
#contact-send:hover {
    cursor: pointer;
    color: #3FA9F5;
    background: transparent;
}
#contact-send:focus {
    outline: none;
}
.email-sending {
    max-width: 110px !important;
    background-color: rgb(116, 189, 241) !important;
}
#footer {
    border-top: 1px solid #333;
    min-height: 400px;
    color: #FFF;
    background-color: rgb(30, 30, 30);
}
#footer a {
    margin: 3px 0;
    color: #888;
    display: block;
    transition: 0.25s;
}
#footer a:hover {
    color: #FFF;
    text-decoration: none;
}
.footer-text {
    color: #888;
    margin-top: 5px;
}
#footer .col-md-3, #footer .col-md-2 {
    padding-top: 50px;
}
.footer-header {
    color: #DDD;
    font-weight: bold;
}
.social-link {
    width: 30px;
}
#twitter-icon {
    font-size: 30px;
}
#map {
    margin-top: 18px;
    height: 200px;
}
#invalid-email, #server-message, #thank-you {
    display: none;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
#thank-you {
    font-size: 1.4em;
}
#image-input {
    display: none;
}
#login-box {
    width: 325px;
    margin: 100px auto 0 auto;
    text-align: center;
}
#login-body {
    background: rgb(200,200,200);
}
#comment-modal {
    text-align: center;
    padding-top: 100px;
    color: rgb(50, 50, 50);
}
#email-input {
    max-width: 250px;
    display: inline;
}
#comment-name {
    max-width: 250px;
    display: inline;
    margin-right: 5px;
}
#signin-modal {
    padding-top: 150px;
}
.checkbox {
    margin-left: 20px;
}
#signin-modal-close {
    position: absolute;
    top: -14px;
    right: -14px;
    color: rgb(50,50,50);
    background: white;
    font-size: 35px;
    height: 34px;
    width: 34px;
    border-radius: 16px;
    box-shadow: 0 0 7px #FFF;
}
#signin-modal-close:hover {
    cursor: pointer;
    color: rgb(209,15,15);
}
.modal-footer p, #signin-body p {
    text-align: center;
    color: rgb(100,100,100);
    font-size: 0.8em;
}
#signin-google {
    width: 198px;
    margin: 25px auto 0 auto;
}
#signin-body {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.nav-link {
    margin-left: 50px;
    transition: 0.5s;
}
#logo {
    margin-top: -3px;
    padding-right: 0;
    font-family: 'Comfortaa', Helvetica, Arial, sans-serif !important;
    font-size: 40px;
    color: #555;
}
#logo:hover {
    color: #555;
    text-decoration: none;
}
#footer-logo-div {
    margin-bottom: 8px;
}
#footer-logo {
    margin-top: -7px !important;
    margin-bottom: 0 !important;
    padding: 0;
    font-family: 'Comfortaa', Helvetica, Arial, sans-serif !important;
    font-size: 20px;
    color: #DDD !important;
}
.credit {
    color: #888;
}
#footer-logo:hover {
    text-decoration: none;
    color: #DDD !important;
}
.teal {
    color: #94E8F8;
}
.orange {
    color: #FF8E42;
}
.yellow {
    color: #FFFF1B;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}
.appcrafted-blue {
    color: #3FA9F5 !important;
}
.appcrafted-blue:hover {
    color: #3FA9F5 !important;
}
#developers {
    color: #3FA9F5;
    transition: 0.5s;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 26px;
    width: 127px;
    border-color: #3FA9F5;
    background: transparent;
    border-radius: 0;
}
#developers:hover {
    color: #777;
    border-color: #777;
    background: transparent;
}
/**
 * The following are additional CSS rules assigned to various Bootstrap
 * classes.
 */
.navbar {
    box-shadow: 0 0 5px 0 white;
}
.navbar-toggle:focus {
    outline: none;
}
/**
 * Breakpoint-related styles.
 */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #easy-to-use {
	margin-left: 0;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #easy-to-use {
	margin-left: -200px;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #easy-to-use {
	margin-left: -200px;
    }
}
